<!--
 * Title: about.component.html
 * Author: Jennifer Hoitenga
 * Date: September 28, 2023
 * Sources Used:
 * Angular Tutorial for Beginners: Navigation and Layout with Angular Material video by Professor Krasso (https://www.youtube.com/watch?v=Wif3MsDN7Pg)
-->

<div>
  <!-- Row for the page title -->
  <div class="row">
    <div class="col-8 m-auto">
      <h2 class="page-title text-center m-4 mb-3">
        Welcome to the About Us page
      </h2>
    </div>
  </div>

  <br />

  <!-- Row for the main content -->
  <div class="row">
    <!-- Column for the image -->
    <div class="col-md-5 pl-0 pr-0">
      <figure style="display: inline-block">
        <img
          src="assets/evelyn.jpg"
          class="img-fluid rounded"
          alt="Evelyn, founder of Loan App"
          style="max-width: 100%; height: auto"
        />
        <figcaption class="text-center p-2">
          <!-- Image attribution -->
          <small class="text-white" style="font-size: 60%">
            <em>Image licensed from </em>
            <a
              href="https://www.istockphoto.com/portfolio/LeonidKos?mediatype=photography"
              target="_blank"
              class="text-light"
            >
              LeonidKos
            </a>
          </small>
        </figcaption>
      </figure>
    </div>

    <!-- Column for the main text content -->
    <div class="col-md-7">
      <p class="mb-4" style="line-height: 1.6">
        At Loan App, we draw inspiration from values like dedication, loyalty
        and hard work. Our journey began with a vision: to make financial
        planning accessible to all, regardless of their financial background.
      </p>
      <p class="mb-4" style="line-height: 1.6">
        In a small, cluttered office filled with stacks of financial textbooks
        and a whiteboard covered in equations, our founder, Evelyn, truly proved
        to be a financial wizard. Her 'Eureka' moment arrived while helping her
        friend, Cedric, navigate the labyrinth of loan options available.
        Cedric, a hardworking barista with dreams of opening his own coffee
        shop, was so puzzled by the loan terms; it's almost like he'd mistakenly
        wandered into the Triwizard Tournament's maze of financial challenges!
      </p>
      <p class="mb-4" style="line-height: 1.6">
        Determined to make finance as approachable as Hufflepuff's cozy common
        room, Evelyn set out to create an app that would empower individuals
        like Cedric with the knowledge and tools needed to make informed
        financial decisions. She assembled a team of like-minded individuals,
        each bringing their unique 'badgerly' expertise and dedication to the
        table.
      </p>
      <p class="mb-4" style="line-height: 1.6">
        Just as everyone has unique qualities, we believe that everyone deserves
        the tools and knowledge to make smart borrowing decisions. Our
        user-friendly loan calculator simplifies financial planning, enabling
        you to calculate loan terms, estimate monthly payments and understand
        total interest, all while working towards a debt-free future. Join us on
        this magical journey toward financial empowerment.
      </p>
      <p class="mb-4" style="line-height: 1.6">
        Welcome to Loan App, where we believe in the power of your dedication to
        achieve your financial goals. Whether you're casting spells or counting
        Galleons, we're here to assist you in achieving financial success!
      </p>
    </div>
  </div>
</div>
