/* Importing the theme stylesheet */
@import "_theme.scss";

/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

* {
  font-family: "Mooli", sans-serif;
}

body {
  background-color: #726255;
}

.navbar-brand {
  color: mat-color($custom-accent);
  font-size: 20px;
}

.navbar {
  background-color: mat-color($custom-primary);
  color: mat-color($custom-accent);
  padding: 15px 20px 10px 20px;
  font-size: 16px;
}

.nav-link {
  color: mat-color($custom-accent);
}

.nav-link:hover {
  color: white;
}

.navbar-brand:hover {
  color: mat-color($custom-accent);
}

.page-title {
  color: mat-color($custom-accent);
  font-size: 25px !important;
}

.mat-icon {
  font-size: 40px;
}

.brown-bg {
  background-color: #726255;
}

.dk-brown-bg {
  background-color: mat-color($custom-primary);
}

h1 {
  color: mat-color($custom-accent);
  text-align: center;
}

h2 {
  color: white;
  font-size: 48px !important;
  text-align: center;
}

h3 {
  color: white;
  font-size: 26px !important;
  text-align: center;
}

p {
  color: white;
  font-size: 16px !important;
  line-height: 1.6;
}

.mat-form-field {
  margin-right: 10px;
}

.font-white {
  color: mat-color($custom-accent);
  font-size: 20px !important;
}

input::placeholder {
  font-size: 20px;
}

input {
  font-size: 20px !important;
}

.submitButton {
  font-size: 20px !important;
  letter-spacing: 0.75px;
  padding: 5px !important;
  font-weight: 600 !important;
}

.clearButton {
  float: right;
}

.returnButton {
  padding: 16px 24px;
  font-size: 20px !important;
  letter-spacing: 0.75px;
  font-weight: 600 !important;
}

.active .nav-link {
  color: white !important;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding-left: 20px;
  padding-right: 20px;
}

.msg-error {
  margin: 5px 0;
  padding: 10px;
  color: #d8000c;
  background-color: #ffd2d2;
  display: flex;
  align-items: center;
  width: 98%;
}

.error-text {
  margin-bottom: auto;
}

.error-icon {
  font-size: 25px;
  justify-content: flex-end;
  margin-right: 2px;
}

.not-found {
  font-size: 50px !important;
  padding-bottom: 20px;
  text-shadow: 2px 4px 2px mat-color($custom-primary);
}

.about {
  margin-right: -10px !important;
}
