<!--
 * Title: home.component.html
 * Author: Jennifer Hoitenga
 * Date: September 28, 2023
 * Sources Used:
 * Angular Tutorial for Beginners: Layout Pages video by Professor Krasso (https://www.youtube.com/watch?v=9AsogopS9YM)
 */
-->

<div>
  <!-- Line breaks for spacing -->
  <br />
  <br />

  <!-- Main content wrapped in a mat-card -->
  <mat-card class="mat-elevation-z8 dk-brown-bg">
    <h2 class="page-title text-center m-4 mb-3">Welcome to Loan App!</h2>
    <br />
    <mat-card-content>
      <!-- Flex layout for two sections -->
      <div fxLayout="row wrap">
        <!-- Left section for input form -->
        <div fxFlex>
          <mat-card class="mat-elevation-z0 dk-brown-bg">
            <mat-card-title></mat-card-title>

            <mat-card-content class="center">
              <form fxLayout="column" [formGroup]="loanForm">
                <div></div>

                <!-- Loan Amount input field -->
                <mat-form-field
                  fxFlex
                  appearance="fill"
                  class="input-container"
                >
                  <mat-label class="font-white">Loan Amount:</mat-label>
                  <input
                    type="text"
                    required
                    name="txtLoanAmount"
                    id="txtLoanAmount"
                    formControlName="loanAmount"
                    placeholder="ex. 150000"
                    matInput
                  />
                </mat-form-field>

                <!-- Validation Error Message -->
                <div
                  *ngIf="form.loanAmount.errors && form.loanAmount.touched"
                  class="msg-error"
                >
                  <mat-icon class="error-icon">error_outline</mat-icon>
                  <span class="error-text"
                    >The loan amount should be a whole number without any
                    decimal points, commas or symbols.</span
                  >
                </div>

                <!-- Interest Rate input field -->
                <mat-form-field
                  fxFlex
                  appearance="fill"
                  class="input-container"
                >
                  <mat-label class="font-white">Interest Rate:</mat-label>
                  <input
                    type="text"
                    required
                    name="txtInterestRate"
                    id="txtInterestRate"
                    formControlName="interestRate"
                    placeholder="ex. 4.5"
                    matInput
                  />
                </mat-form-field>

                <!-- Validation Error Message -->
                <div
                  *ngIf="form.interestRate.errors && form.interestRate.touched"
                  class="msg-error"
                >
                  <mat-icon class="error-icon">error_outline</mat-icon>
                  <span class="error-text"
                    >The interest rate should be a numeric value, and it can be
                    either a whole number or a number with decimal points.</span
                  >
                </div>

                <!-- Number of Years input field -->
                <mat-form-field appearance="fill">
                  <mat-label class="font-white">Number of Years:</mat-label>
                  <input
                    type="text"
                    required
                    name="txtNumYears"
                    id="txtNumYears"
                    formControlName="numYears"
                    placeholder="ex. 30"
                    matInput
                  />
                </mat-form-field>

                <!-- Validation Error Message -->
                <div
                  *ngIf="form.numYears.errors && form.numYears.touched"
                  class="msg-error"
                >
                  <mat-icon class="error-icon">error_outline</mat-icon>
                  <span class="error-text"
                    >The number of years should be a numeric value and it should
                    not have any decimal points.</span
                  >
                </div>
                <br />
                <!-- Calculate button -->
                <button
                  class="mt-3 submitButton"
                  type="submit"
                  [disabled]="!loanForm.valid"
                  mat-raised-button
                  color="accent"
                  (click)="calculate()"
                >
                  Calculate
                </button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Right section for results -->
        <div fxFlex>
          <mat-card class="mat-elevation-z0 dk-brown-bg">
            <mat-card-title></mat-card-title>
            <mat-card-content>
              <form fxLayout="column">
                <!-- Monthly payment result -->
                <h1 class="mt-0">Your monthly payment:</h1>
                <h2>
                  <!-- Include the 'app-monthly-payment' component to display monthly payment -->
                  <app-monthly-payment
                    [monthlyPayment]="monthlyPayment"
                  ></app-monthly-payment>
                </h2>
                <!-- Total interest paid result -->
                <h1 class="mt-5">Total interest paid:</h1>
                <h2>
                  <!-- Include the 'app-total-interest' component to display total interest -->
                  <app-total-interest
                    [totalInterest]="totalInterest"
                  ></app-total-interest>
                </h2>
              </form>
              <!-- Clear Form button -->
              <br />
              <button class="mt-3 clearButton" mat-button (click)="clearForm()">
                Clear Form
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <br /> </mat-card-content
  ></mat-card>
</div>
